body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f7fc;
    color: hwb(0 5% 94%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #590707;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f9f8f8;
}

.search-bar {
    margin-top: 20px;
}

.Features {
    margin-left: 50px;
   padding-top: 100px;
   padding-bottom: 100px;
}

.Brands {
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.topbikes {
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.latestbikes {
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.contact {
    display: none;
    padding: 30px;
    background-color: #f5f5f5;
    max-width: 500px;
    margin: 0 auto;
}

.contact.visible {
    display: block;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.contact button {
    background-color: #767575;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 70px;
}


footer {
    background-color: #025b6c;
    color: #120d0d;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
