body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #92bdea;
    color: hwb(0 5% 94%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #0e0909;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f9f8f8;
}

.search-bar {
    margin-top: 20px;
}

.Features {
    margin-left: 20px;
   padding-top: 100px;
   padding-bottom: 100px;
}

.Brands {
    margin-left: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.topbikes {
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.latestbikes {
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
}

footer {
    background-color: #025b6c;
    color: #120d0d;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
