<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>WiselyWheel</title>
    <style>
      .filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
      }

      .filters button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        border-bottom: 2px solid transparent;
        margin-right: 10px;
      }

      .filters button:hover {
        background-color: #f2f2f2;
      }

      .filters button.active {
        border-bottom: 2px solid blue;
      }

      .options-container {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        height: auto;
        transition: height 0.3s ease-out;
      }

      .options-container div {
        flex: 1;
        margin-right: 10px;
      }

      .options-container div:last-child {
        margin-right: 0;
      }

      .options-container button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        text-align: left;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .options-container button:hover {
        background-color: #f2f2f2;
      }

      .options-container .brand-option:hover,
      .options-container .price-option:hover {
        background-color: lightgray;
      }

      .options-container .price-option.active {
        background-color: lightgreen;
        color: white;
      }

      .brand-img {
        width: 100px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <img
        src="/image/logo.png"
        alt="WiselyWheel"
        width="150mm"
        height="100mm"
      />
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="Browsebike.html">Browse Bikes</a></li>
          <li><a href="Comparebike.html">Compare Bikes</a></li>
          <li><a href="signup.html">Signup</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h3>Browse Bike By:</h3>

      <div class="filters">
        <button onclick="showBrand()" id="brandBtn" class="active">
          Brand
        </button>
        <button onclick="showPrice()" id="priceBtn" style="padding-right: 20px">
          Price
        </button>
      </div>

      <div class="options-container" id="optionsContainer">
        <div class="brands-container" id="brandOptions">
          <button class="brand-option" onclick="loadBikesByBrand('Honda')">
            <img src="/image/honda.png" alt="Honda" class="brand-img" />
          </button>
          <button class="brand-option" onclick="loadBikesByBrand('Yamaha')">
            <img src="/image/yamaha.png" alt="Yamaha" class="brand-img" />
          </button>
          <button class="brand-option" onclick="loadBikesByBrand('Bajaj')">
            <img src="/image/bajaj.png" alt="Bajaj" class="brand-img" />
          </button>
          <button class="brand-option" onclick="loadBikesByBrand('TVS')">
            <img src="/image/tvs.webp" alt="TVS" class="brand-img" />
          </button>
        </div>
        <div id="bikeOptions"></div>
        <div
          class="price-options-container"
          id="priceOptions"
          style="display: none"
        >
          <button class="price-option" onclick="filterByPrice('0,250000')">
            Under Rs2.5 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('250001,300000')">
            Under Rs3 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('300001,350000')">
            Under Rs3.5 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('350001,400000')">
            Under Rs4 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('400001,450000')">
            Under Rs4.5 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('450001,500000')">
            Under Rs5 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('500001,550000')">
            Under Rs5.5 lakh
          </button>
          <button class="price-option" onclick="filterByPrice('550001,600000')">
            Under Rs6 lakh
          </button>
        </div>
      </div>

      <div id="bikeList"></div>
    </main>

    <footer>
      <p>&copy; 2024 WiselyWheel. All rights reserved.</p>
    </footer>

    <script>
      function showBrand() {
        const brandOptions = document.getElementById("brandOptions");
        const priceOptions = document.getElementById("priceOptions");
        const brandBtn = document.getElementById("brandBtn");
        const priceBtn = document.getElementById("priceBtn");

        brandOptions.style.display = "flex";
        priceOptions.style.display = "none";
        brandBtn.classList.add("active");
        priceBtn.classList.remove("active");
      }

      function showPrice() {
        const brandOptions = document.getElementById("brandOptions");
        const priceOptions = document.getElementById("priceOptions");
        const brandBtn = document.getElementById("brandBtn");
        const priceBtn = document.getElementById("priceBtn");

        priceOptions.style.display = "flex";
        brandOptions.style.display = "none";
        priceBtn.classList.add("active");
        brandBtn.classList.remove("active");
      }

      function loadBikesByBrand(brand) {
        fetch(`/api/bikefeatures/brand/${brand}`)
          .then((response) => response.json())
          .then((bikes) => {
            const optionsContainer = document.getElementById("bikeOptions");
            if (optionsContainer) {
              optionsContainer.innerHTML = "";
              bikes.forEach((bike) => {
                const button = document.createElement("button");
                button.textContent = bike.variant_name;
                button.onclick = () => {
                  window.location.href = `/bikeDetails?id=${bike._id}`;
                };
                optionsContainer.appendChild(button);
              });
            } else {
              console.error("Element with ID 'bikeOptions' not found.");
            }
          })
          .catch((error) =>
            console.error("Error loading bikes by brand:", error)
          );
      }

      function displayBikes(bikes) {
        const bikeList = document.getElementById("bikeList");
        bikeList.innerHTML = "";
        bikes.forEach((bike) => {
          const listItem = document.createElement("div");
          listItem.classList.add("bike-item");
          listItem.innerHTML = `
                <img src="${bike.image}" alt="${bike.variant_name}" />
                <h4>${bike.variant_name}</h4>
                <p>Price: Rs${bike.price}</p>
                <!-- Add more details as needed -->
            `;
          bikeList.appendChild(listItem);
        });
      }
      function filterByPrice(minPrice, maxPrice) {
        fetch(`/api/bikefeatures?minPrice=${minPrice}&maxPrice=${maxPrice}`)
          .then((response) => response.json())
          .then((bikes) => {
            const bikeList = document.getElementById("bikeList");
            bikeList.innerHTML = "";
            bikes.forEach((bike) => {
              const listItem = document.createElement("div");
              listItem.classList.add("bike-item");
              listItem.innerHTML = `
                <img src="${bike.image}" alt="${bike.variant_name}" />
                <h4>${bike.variant_name}</h4>
                <p>Price: Rs${bike.price}</p>
              `;
              listItem.addEventListener("click", () => {
                window.location.href = `/bikeDetails?id=${bike._id}`;
              });
              bikeList.appendChild(listItem);
            });
          })
          .catch((error) => console.error("Error fetching bikes:", error));
      }
    </script>
  </body>
</html>
