<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>WiselyWheel</title>
  </head>
  <body>
    <header>
      <img src="/image/l2.png" alt="WiselyWheel" width="200rem" height="150rem"/>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="Browsebike.html">Browse Bikes</a></li>
          <li><a href="Comparebike.html">Compare Bikes</a></li>
          <li><a href="admin.html">Admin</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <h1>Discover and Compare Your Perfect Ride</h1>
      <div class="search-bar">
        <input type="text" id="bikeSearchInput" placeholder="Search your bike here" />
        <button onclick="searchBikes()">Search</button>
    </div>
</section>

<!-- features -->
<section class="features" id="features">
    <div class="heading">
        <h1>Features</h1>
    </div>
    <div class="features-container">
        <div class="box">
            <div class="box-img">
                <img src="/image/apache_200.jpeg" alt="">
            </div>
        <h3>TVS Apache RTR 200 4V</h3>
        <h5>NRs.324,900/-</h5>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/ns_200.avif" alt="">
            </div>
        <h3>Bajaj Pulsar NS 200 ABS</h3>
        <h5>NRs.379,900/-</h5>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/fzs.webp" alt="">
            </div>
        <h3>Yamaha FZs V2</h3>
        <h5>NRs.364,900/-</h5>
        </div>
</section>

<!-- brands -->
<section class="brands" id="brands">
    <div class="heading">
        <h1>All Brands</h1>
    </div>
    <div class="brands-container">
        <div class="box">
            <div class="box-img">
                <img src="/image/honda.png" alt="">
            </div>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/Yamaha.png">
            </div>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/bajaj.png" alt="">
            </div>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="/image/tvs.webp" alt="">
            </div>
        </div>
</section>

<!-- Top bikes -->
<section class="services" id="services">
    <div class="heading">
        <h1>Top Bikes</h1>
    </div>
    <div class="topbikes-container">
        <div class="box">
            <div class="box-img">
                <img src="/image/mt-15.png" alt="">
            </div>
        <h3>MT-15 BS6</h3>
        <h5>NRs.509,900/-</h5>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/ns_200.avif" alt="">
            </div>
        <h3>Bajaj Pulsar NS 200 ABS</h3>
        <h5>NRs.379,900/-</h5>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/raider.webp" alt="">
            </div>
        <h3>TVS Raider</h3>
        <h5>NRs.266900/-</h5>
        </div>
</section>

<!-- latest bikes -->
<section class="latestbikes" id="latestbikes">
    <div class="heading">
        <h1>Latest Bikes</h1>
    </div>
    <div class="latestbikes-container">
        <div class="box">
            <div class="box-img">
                <img src="/image/Tvs-Ronin.jpg" alt="">
            </div>
        <h3>TVS Ronin</h3>
        <h5>NRs.449,900/-</h5>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="/image/ns_200.avif" alt="">
            </div>
        <h3>Bajaj Pulsar NS 200 ABS</h3>
        <h5>NRs.379,900/-</h5>
        </div>

</section>
<section class="fetchedData" id="fetchedData">
    <h2>Fetched Bike Data</h2>
    <ul id="bikeList"></ul>
</section>

    <footer>
      <p>&copy; 2024 WiselyWheel. All rights reserved.</p>
    </footer>
    <!-- <script src="script.js"></script>  -->
    < <script src="/javascripts/script2.js"></script>
    <script src="/wiselywheel/Database/data.js"></script>
    




   
  </body>
</html>
