<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
  
      #searchForm {
        text-align: center;
        margin-bottom: 3mm; 
      }

      
      .search-results {
        margin-left: 5mm;
      }

     
      .search-results a {
        display: block;
        margin-bottom: 5mm;
      }
    </style>
    <title>Search Results</title>
  </head>
  <body>
    <header>
      <img
        src="/image/logo.png"
        alt="WiselyWheel"
        width="150mm"
        height="100mm"
      />
      <nav>
        <li><a href="index.html">Home</a></li>
        <li><a href="Browsebike.html">Browse Bikes</a></li>
        <li><a href="Comparebike.html">Compare Bikes</a></li>
        <li><a href="signup.html">Signup</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </nav>
    </header>

    <h1>Search Results</h1>

    <!-- Search form for searching another bike -->
    <form id="searchForm">
      <input
        type="text"
        id="bikeSearchInput"
        placeholder="Search another bike"
      />
      <button type="submit">Search</button>
    </form>

    <section class="search-results">
      <% searchResults.forEach(bike => { %>
      <a href="/bikeDetails?id=<%= bike._id %>"
        ><%= bike.variant_name %> - <%= bike.brand %></a
      >
      <% }); %>
    </section>

    <footer>
      <p>&copy; 2024 WiselyWheel. All rights reserved.</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchForm = document.getElementById("searchForm");

        searchForm.addEventListener("submit", function (event) {
          event.preventDefault();
          const searchTerm = document
            .getElementById("bikeSearchInput")
            .value.trim()
            .toLowerCase();
          window.location.href = `/searchResults?searchTerm=${searchTerm}`;
        });
      });
    </script>
  </body>
</html>
